@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&display=swap');
*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 scroll-behavior: smooth;   
 font-family: 'Poppins', sans-serif;
}
body{
    background-color: #0D4DA1;
}
.card{
  background-color:#e7e7e9;
  background-repeat:no-repeat;
  background-size:cover;
  border-radius:25px;
  box-shadow:0 25px 35px rgba(0, 0, 0, 0.4);
  display:flex;
  flex-direction: column;
  min-height:550px;
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width:950px
}
.title{
    margin-top: 2%;
    text-align: center;
}
/* .seta{
  background:url(../public/icon-arrow-down.svg);
  background-position:50%;
  background-repeat:no-repeat;
  cursor:pointer;
  height:120px;
  position:absolute;
  right:20px;
  top:18px;
  transition:all 70ms ease-in-out;
  width:20px;
  
  
}
.seta.rodada{
    
    -webkit-transform:rotate(180deg);
    transform:rotate(180deg);
    transition:all 70ms ease-in-out;
}
*/
.answer{
    display: none;
    font-size: 14px;
}
.answer.open{
    display:block;
    line-height:1.5;
    margin-top:10px;
    opacity:1;
    width:95%
}

.question {
    
    font-size:16px
  }
  
  .question:hover {
    color: #0D4DA1;
    cursor:pointer
  
  }
  
  .question.active {
    color: #0D4DA1;
    font-weight:700
  }
  
  .question.active:hover {
    cursor: pointer;
    font-weight: 500;
  }
  
  .faq {
    margin-top: 2%;
    margin-left: 60%;
    border-bottom:1px solid #e4e4e4;
    padding:18px 0;
    
  }
  
  .faq:hover {
      
    cursor:pointer
  }
  .img{
    background:url(../public/faqs-cuate.svg);
    background-repeat:no-repeat;
    width: 50%;
    height: 400px;
    position:absolute;
    top: 60%;
    left: 26%;
    transform: translate(-50%, -50%);
  }
  
  @media screen and (max-width: 900px){
    .title{
      margin-top: 2%;
      text-align: center;
      font-size: 10px;
  }
    .card{
      margin: 0rem;
      width: 100%;
    }
    .img{
      top: 35%;
      transform: translate(-50%);
      
     
    }
    .faq{
      display: flex;
      flex-wrap: wrap;
      transform: translate(-20%);
      
      
    }
  }